<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/js/main.js"></script>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="contentDiv">
      <h1><%= langFunc.translate("Main", lang) %></h1>
      <hr class="h1Line" />
      <a href="/rules/rules_<%- lang %>.pdf" class="linkbutton"><%= langFunc.translate("Rules", lang) %></a>
      <a href="/challenge" class="linkbutton"><%= langFunc.translate("Challange players", lang) %></a>
      <form action="/choseColor" method="post">
        <div class="pairOfElements">
          <div class="firstOfPair">
            <select
              size="5"
              name="challengerName"
              id="challengerName"
              onchange="mymodule.setSelect(this.selectedIndex)"
            >
              <% for (const [key, value] of Object.entries(challengers)) { %>
              <option><%= value %></option>
              <% } %>
            </select>
            <select
              name="challengerID"
              id="challengerID"
              onchange="mymodule.setSelect(this.selectedIndex)"
              required
              style="display: none"
            >
              <% for (const [key, value] of Object.entries(challengers)) { %>
              <option><%= key %></option>
              <% } %>
            </select>
          </div>
          <div class="secondOfPair">
            <button type="submit"><%= langFunc.translate("Accept challange", lang) %></button>
          </div>
        </div>
      </form>
      <div class="pairOfElements">
        <div class="firstOfPair">
          <select size="5" name="oponentName" id="oponentName" onchange="mymodule.setSelect2(this.selectedIndex)">
            <% for (const [key, value] of Object.entries(currentMatches)) { %>
            <option><%= value %></option>
            <% } %>
          </select>
          <select
            name="matchId"
            id="matchId"
            onchange="mymodule.setSelect2(this.selectedIndex)"
            required
            style="display: none"
          >
            <% for (const [key, value] of Object.entries(currentMatches)) { %>
            <option><%= key %></option>
            <% } %>
          </select>
        </div>
        <div class="secondOfPair">
          <button type="button" id="goToGame" onclick="mymodule.btnGoToGame()">
            <%= langFunc.translate("Go to game", lang) %>
          </button>
        </div>
      </div>
      <a href="/changelog" target="_blank" id="changelogLink">v 1.05</a>
    </div>
  </body>
</html>
