<!DOCTYPE html>
<html>
  <head>
    <script>
      t = {"yourTurn": "<%- langFunc.translate("Your turn", lang) %>",
      "notYourTurn": "<%- langFunc.translate("Not your turn", lang) %>",
      "selectLocation": "<%- langFunc.translate("Select location", lang) %>",
      "areYouSureYouWantToGiveUp": "<%- langFunc.translate("Are you sure you want to give up?", lang) %>",
      "areYouSureYouWantToPass": "<%- langFunc.translate("Are you sure you want to pass?", lang) %>",
      "scoreWinner": "<%- langFunc.translate("Score winner", lang) %>",
      "surrenderWinner": "<%- langFunc.translate("Surrender winner", lang) %>"};
    </script>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/js/play.js""></script>
  </head>
  <body>
    <div class="contentDiv">
      <h1><%= langFunc.translate("Board", lang) %></h1>
      <hr class="h1Line" style="display: none" />
      <div>
        <div id="canvasDiv">
          <canvas width="570" height="570" id="goCanvas" style="border: 1px solid #000000"></canvas>
          <div id="canvasMessageDiv">
            <label id="canvasLabel"></label>
            <div id="canvasButtonsDiv">
              <button onclick="mymodule.btnYes()" id="canvasYesButton"><%- langFunc.translate("Yes", lang) %></button>
              <button onclick="mymodule.btnNo()" id="canvasNoButton"><%- langFunc.translate("No", lang) %></button>
              <button onclick="mymodule.btnOk()" id="canvasOkButton"><%- langFunc.translate("Ok", lang) %></button>
            </div>
          </div>
        </div>
        <div class="bottomAlignedColumn">
          <div id="yourTurnDiv">
            <label id="yourTurn"></label>
          </div>
          <div class="leftAlignedRow">
            <canvas width="30" height="30" id="blackStone"></canvas>
            <label id="blackName"><%= player1Name %></label>
            <img id="blackArrow" src="../Graphics/arrow40x30.png" alt="arrow" />
            <label id="blackScore"></label>
          </div>
          <div class="leftAlignedRow">
            <canvas width="30" height="30" id="whiteStone"></canvas>
            <label id="whiteName"><%= player2Name %></label>
            <img id="whiteArrow" src="../Graphics/arrow40x30.png" alt="arrow" />
            <label id="whiteScore"></label>
          </div>
          <button onclick="mymodule.btnPreviewScore()"><%- langFunc.translate("Preview score", lang) %></button>
          <button onclick="mymodule.btnGiveUp()" id="btnGiveUp"><%- langFunc.translate("Give up", lang) %></button>
          <button onclick="mymodule.btnPass()" id="btnPass"><%- langFunc.translate("Pass", lang) %></button>
          <button onclick="mymodule.btnConfirm()" id="btnExecute"><%- langFunc.translate("Confirm", lang) %></button>
        </div>
      </div>
      <label style="clear: left; display: block" id="dbg"></label>
    </div>
    <script type="text/javascript">mymodule.initJS(t, <%- playerColor %>)</script>
  </body>
</html>

